body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Eras-ITC';
  font-weight: 100;
  src: url('./fonts/ErasMediumITC.ttf') format('wof2'),
  url('./fonts/ErasMediumITC.ttf') format('woff'),
  url('./fonts/ErasMediumITC.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('./fonts/Roboto-Regular.ttf') format('wof2'),
  url('./fonts/Roboto-Regular.ttf') format('woff'),
  url('./fonts/Roboto-Regular.ttf') format('truetype');
}